.content-header-landing-page {
    display: grid;
    background-image: url("../img/background_header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    background-attachment: fixed;

    &>img {
        width: 40rem;
        height: auto;
        padding-top: 20rem;
        padding-bottom: 20rem;
    }
}

@media (max-width: 1024px) {
    .section {
        display: flex;
        flex-direction: column;
    }

    .content-header-landing-page>img {
        width: 25rem;
    }
}