.content-header-landing-page {
    display: grid;
    background-image: url("../img/background_header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;

    & > img {
        width: 40rem;
        height: auto;
        padding-top: 20rem;
        padding-bottom: 20rem;
    }
}